**/__pycache__
outputs
logs
multirun
lightning_logs
**/*.ipynb_checkpoints*
*.ipynb_checkpoints*
scratches
tmp
data
jobs
src/ose/ssh_alg_h2g_j2g_j2n_j3_s3a_duacs.nc
src/ose/dt_gulfstream_c2_phy_l3_20161201-20180131_285-315_23-53.nc
contrib/*/mask_PanArctic*
Notebooks/ASIP_OSISAF/*
Notebooks/checkpoints*/*
Notebooks/logs*/*
ckpt/ckpt_4dvarNet_diff.pth
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/best_model/model.pt
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/checkpoints/epoch=015-step=832-train_loss=-1293500.3750.ckpt
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/checkpoints/epoch=017-step=936-train_loss=-1480260.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/checkpoints/epoch=015-step=832-train_loss=-1327648.3750.ckpt
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/checkpoints/epoch=014-step=780-train_loss=-1038101.1875.ckpt
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/checkpoints/epoch=016-step=884-train_loss=-1458261.1250.ckpt
consistency/Notebooks/Notebooks_SSH_GF/SDE/logs_CT_few_steps_time_embedding_learnedSDE/cm/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_CT_few_steps_time_embedding/cm/best_model/model.pt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=948-step=49348-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=1004-step=52260-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=1108-step=57668-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_CT_few_steps_time_embedding/cm/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_direct_unet/v0/best_model/model_direct_unet.pt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_direct_unet/v0/checkpoints/epoch=012-step=169-val_loss=0.0718.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_direct_unet/v0/checkpoints/epoch=011-step=156-val_loss=0.0713.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_direct_unet/v0/checkpoints/epoch=013-step=182-val_loss=0.0644.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_direct_unet/v0/checkpoints/epoch=014-step=195-val_loss=0.0654.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_direct_unet/v0/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_4dvarnet_unet/v0/best_model/model_4dvarnet_unet.pt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_4dvarnet_unet/v0/checkpoints/epoch=138-step=3614-val_loss=0.3176.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_4dvarnet_unet/v0/checkpoints/epoch=153-step=4004-val_loss=0.3128.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_4dvarnet_unet/v0/checkpoints/epoch=152-step=3978-val_loss=0.3241.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_4dvarnet_unet/v0/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/epoch=095-step=1248-train_loss=0.2110.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/epoch=078-step=1027-train_loss=0.2358.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/epoch=093-step=1222-train_loss=0.2253.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/last.ckpt
SPDE/SPDE_diffusion_dataset_2.nc
SPDE/SPDE_diffusion_dataset_1.nc
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/best_model/model.pt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/epoch=382-step=4979-train_loss=0.0778.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/epoch=270-step=3523-train_loss=0.0947.ckpt
consistency/Notebooks/Notebooks_SSH_GF/ODE/logs_PWCM_variational/cm/checkpoints/epoch=385-step=5018-train_loss=0.0958.ckpt
consistency/Notebooks/Notebooks_GP/logs_4dvarnet_unet_spde/v0/best_model/model_4dvarnet_unet.pt
consistency/Notebooks/Notebooks_GP/logs_4dvarnet_unet_spde/v0/checkpoints/epoch=379-step=18960-val_loss=0.5937.ckpt
consistency/Notebooks/Notebooks_GP/logs_4dvarnet_unet_spde/v0/checkpoints/epoch=347-step=17296-val_loss=0.5921.ckpt
consistency/Notebooks/Notebooks_GP/logs_4dvarnet_unet_spde/v0/checkpoints/epoch=443-step=22288-val_loss=0.5925.ckpt
consistency/Notebooks/Notebooks_GP/logs_4dvarnet_unet_spde/v0/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_CT_few_steps_time_embedding/cm/best_model/model.pt
consistency/Notebooks/Notebooks_SSH_GF/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=948-step=49348-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=1004-step=52260-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_CT_few_steps_time_embedding/cm/checkpoints/epoch=1108-step=57668-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_CT_few_steps_time_embedding/cm/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_direct_unet/v0/best_model/model_direct_unet.pt
consistency/Notebooks/Notebooks_SSH_GF/logs_direct_unet/v0/checkpoints/epoch=012-step=169-val_loss=0.0718.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_direct_unet/v0/checkpoints/epoch=011-step=156-val_loss=0.0713.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_direct_unet/v0/checkpoints/epoch=013-step=182-val_loss=0.0644.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_direct_unet/v0/checkpoints/epoch=014-step=195-val_loss=0.0654.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_direct_unet/v0/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_4dvarnet_unet/v0/best_model/model_4dvarnet_unet.pt
consistency/Notebooks/Notebooks_SSH_GF/logs_4dvarnet_unet/v0/checkpoints/epoch=138-step=3614-val_loss=0.3176.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_4dvarnet_unet/v0/checkpoints/epoch=153-step=4004-val_loss=0.3128.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_4dvarnet_unet/v0/checkpoints/epoch=152-step=3978-val_loss=0.3241.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_4dvarnet_unet/v0/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_PWCM_variational/cm/best_model/model.pt
consistency/Notebooks/Notebooks_SSH_GF/logs_PWCM_variational/cm/checkpoints/epoch=382-step=4979-train_loss=0.0778.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_PWCM_variational/cm/checkpoints/epoch=270-step=3523-train_loss=0.0947.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_PWCM_variational/cm/checkpoints/epoch=385-step=5018-train_loss=0.0958.ckpt
consistency/Notebooks/Notebooks_SSH_GF/logs_PWCM_variational/cm/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_consistency_spde/v1/best_model/model.pt
consistency/Notebooks/Notebooks_GP/logs_CT_consistency_spde/v1/checkpoints/epoch=447-step=23296-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_consistency_spde/v1/checkpoints/epoch=410-step=21372-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_consistency_spde/v1/checkpoints/epoch=433-step=22568-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_consistency_spde/v1/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_variational_spde/v1/best_model/model.pt
consistency/Notebooks/Notebooks_GP/logs_CT_variational_spde/v1/checkpoints/epoch=009-step=520-train_loss=1.0154.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_variational_spde/v1/checkpoints/epoch=017-step=936-train_loss=1.0741.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_variational_spde/v1/checkpoints/epoch=005-step=312-train_loss=1.0452.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_variational_spde/v1/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_dynamical_systems_spde/v1/best_model/model.pt
consistency/Notebooks/Notebooks_GP/logs_CT_dynamical_systems_spde/v1/checkpoints/epoch=019-step=1040-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_dynamical_systems_spde/v1/checkpoints/epoch=020-step=1092-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_dynamical_systems_spde/v1/checkpoints/epoch=065-step=3432-train_loss=0.0000.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_dynamical_systems_spde/v1/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_VarCM_spde/v1/best_model/model.pt
consistency/Notebooks/Notebooks_GP/logs_CT_VarCM_spde/v1/checkpoints/epoch=034-step=1820-train_loss=0.5725.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_VarCM_spde/v1/checkpoints/epoch=038-step=2028-train_loss=0.5744.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_VarCM_spde/v1/checkpoints/epoch=037-step=1976-train_loss=0.5662.ckpt
consistency/Notebooks/Notebooks_GP/logs_CT_VarCM_spde/v1/checkpoints/last.ckpt
consistency/Notebooks/Notebooks_GP/logs_FM_spde/v1/best_model/model.pt
consistency/Notebooks/Notebooks_GP/logs_FM_spde/v1/checkpoints/epoch=024-step=1300-train_loss=-0.0015.ckpt
consistency/Notebooks/Notebooks_GP/logs_FM_spde/v1/checkpoints/epoch=022-step=1196-train_loss=0.0967.ckpt
consistency/Notebooks/Notebooks_GP/logs_FM_spde/v1/checkpoints/epoch=023-step=1248-train_loss=-0.0076.ckpt
consistency/Notebooks/Notebooks_GP/logs_FM_spde/v1/checkpoints/last.ckpt
